<template name="playerSubmit">
   <form class="main form page">
      <div class="form-group">
         <label for="url" class="control-label">URL</label>
         <div class="controls">
            <input type="text" name="url" id="url" placeholder="www.domain.com" class="form-control">
         </div>
         <div class="form-group">
            <label for="title" class="control-label">Title</label>
            <div class="controls">
               <input type="text" class="form-control" name="title" placeholder="Name of player">
            </div>
         </div>
         <input type="submit" value="Submit" class="btn btn-primary">
      </div>
   </form>
</template>
