<template name="playerPage">
  <div class="not-found page jumbotron player-card">
    <div class="player">
      <div class="left">
        <span class="no">No. {{currentUser.profile.teamInfo.number}}</span>
        <span class="skill"></span>
        <span class="tier">Tier: {{currentUser.profile.teamInfo.tier}}</span>
        <img src="{{currentUser.profile.teamInfo.teamLogoUrl}}" class="team">
      </div>
      <div class="overlay"></div>
      <img src="{{currentUser.profile.photoUrl}}" class="photo">
    </div>
    <div class="info">
      <h1>{{currentUser.profile.firstName}} {{currentUser.profile.lastName}}</h1>
      <h2>{{currentUser.profile.teamInfo.position}}{{#if currentUser.profile.teamInfo.teamName}} | {{currentUser.profile.teamInfo.teamName}} {{/if}}</h2>
      <p>{{currentUser.profile.bio}}</p>
    </div>
    <div class="button-bar">
      <a href="#" class="button button-blue">Call to Action</a>
      <a href="#" class="button button-green">Call to Action</a>
    </div>
  </div>
</template>
