@import "custom.bootstrap.import.styl"

#main
   margin-top 50px
   background url(/gui-bg-ice.jpg) no-repeat fixed
   background-size cover
   padding-bottom 2em
   min-height 80vh
.svg
   width 100%
   height auto
