<template name="home">

   <!-- Half Page Image Background Carousel Header -->
   <div id="homeCarousel" class="carousel slide">
      <!-- Indicators -->
      <!--ol class="carousel-indicators">
         <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
         <li data-target="#homeCarousel" data-slide-to="1"></li>
      </ol-->

      <!-- Wrapper for Slides -->
      <div class="carousel-inner">
         <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/carousel-team.jpg');"></div>
            <div class="carousel-skew">
               <div class="unskew">
                  <h2>Something Text</h2>
                  <p>Find by location, league, experience, position, and more. Registration takes seconds
                  and you can setup notifications for when a position becomes available.</p>
                  <p><a href="{{pathFor 'teamsList'}}" class="btn btn-primary btn-lg">Hit the ice</a></p>
               </div>
            </div>
         </div>
         <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/carousel-single.jpg');"></div>
            <div class="carousel-skew">
               <div class="unskew">
                  <h2>More ways to source players</h2>
                  <p>Hobbists and professional players are looking for teams. Creating a team profile takes
                     a few minutes and you'll get notified when someone compatible is found.</p>
                  <p><a href="{{pathFor 'teamsList'}}" class="btn btn-primary btn-lg">Hit the ice</a></p>
               </div>
            </div>
         </div>
      </div>
      <!-- Controls -->
      <a class="right carousel-control" href="#homeCarousel" data-slide="next">
         <span class="icon-next"></span>
      </a>
   </div><!-- /carousel -->

   <div class="container">

      <div class="row text-center">
         <div class="col-md-4">
            <img src="/svg/rink.svg" alt="Ice Rink" class="svg">
            <h3>Get Ice Time</h3>
            <p>Need a place to play? Our partners can help you get a rink in your area when you want it.
               Take the guess work and cold-calling out of the picture so you can focus on playing.
            </p>
         </div><div class="col-md-4">
            <img src="/svg/locate.svg" alt="Search" class="svg">
            <h3>Fill Vacancies</h3>
            <p>Use Hockey Movers to keep your roster full. Players often need to be replaced and can be a
               major setback for teams. Hockey Movers automatically matches players to teams using your
               predefined criteria.
            </p>
         </div><div class="col-md-4">
            <img src="/svg/mask.svg" alt="Hockey Mask" class="svg">
            <h3>Insiders Benefit</h3>
            <p>Want to play harder? We've got some exciting opportunities coming up that will help your
               team get some swag.
            </p>
         </div>
      </div>

   </div>
</template>
